name: Run CI Suite

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cypress:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - run: npm install && npm run build
      - uses: cypress-io/github-action@224f894ce0b082eba28a3a4562f630c54a17b432
        with:
          config-file: cypress.config.ts
          start: npm run preview
          wait-on: 'http://localhost:4173'
        env:
          CYPRESS_BASE_URL: http://localhost:4173

  deploy:
    # needs: cypress
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'
      - name: set deployment parameters
        run: |
          if ${{ github.ref == 'refs/heads/main' }}
          then
            echo "DESTINATION_DIR=prod" >> $GITHUB_ENV
          else
            case ${{ github.head_ref || github.ref}} in
              main)
                ;;
              stage*)
                echo "DESTINATION_DIR=stage" >> $GITHUB_ENV
                ;;
              test*)
                echo "DESTINATION_DIR=test" >> $GITHUB_ENV
                ;;
              dev*)
                echo "DESTINATION_DIR=dev" >> $GITHUB_ENV
                ;;
            esac
          fi
      - run: npm install && npm run build
        if: env.DESTINATION_DIR
      - name: deploy # Uses an archived, 5yo github action; we should find another
        if: env.DESTINATION_DIR
        uses: jakejarvis/s3-sync-action@7ed8b112447abb09f1da74f3466e4194fc7a6311
        with:
          # DON'T addd the --delete argument, sometimes a cached version of index.html will ask for a js bundle that doesn't exist anymore
          args: --follow-symlinks #--delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-2'
          SOURCE_DIR: 'dist'
          DEST_DIR: ${{ env.DESTINATION_DIR }}
